manifest {
    homePage = 'https://github.com/iarcbioinfo/ITH_pipeline'
    description = 'Pipeline for intra-tumor heterogeneity analysis from Whole Exome/Whole Genome sequencing data'
    mainScript = 'main.nf'
}


profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/ith_pipeline-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://iarcbioinfo/ith_pipeline-nf'
  }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ITH_pipeline_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ITH_pipeline_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ITH_pipeline_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ITH_pipeline_dag.html"
}
